/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:#5793A9;
  font-family:   font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;

}
body {
  color: #fff;
  background-color: #
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
* links
*/
.navbar{
  background-color: #5793A9;
  margin:0px;
  float:right;
  border:none;
  padding:10px;
  }
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color:gray;
}
/* 
* Head
*/

.cover-heading h1 {
  font-weight: bold;
}

.jumbotron {
  background-color: #5793A9;
  margin:20px; 
  padding-bottom: 0px;
  }
.lead {
  margin-left:25px;
  margin-right:25px;
  max-width:854px;
  display: inline-block;
 }
p.lead {
  margin-bottom: 0px;
}
.jumbotron h1 {
  font-size:30px;
  font-weight: bold;

}
.row {  
  background-color:##5793A9;
}

label {
  font-size:20px;
}
div.span4 img.center-block {
  padding: 25px;
}

@media (min-width: 768px) {
.form-inline .form-control {
  border-radius:25px;
}

.btn-default {
    color: #5793A9;
    background-color: #fff;
    border-color: gray ;
    font-weight:bold;
    border-radius: 10px;
    width:100px;
}
p {
  font-size:16px;
}
.img-circle {
    border-radius: 50%;
}
blockquote {
  border-left:transparent;
}
.mastfoot {
  padding: 
}